/* .h1{
  
    padding: 40px;
    text-align: center;
    background: #3e8cd4;
    color:pink;
   */

header{
  display: flex;
  justify-content: space-between;
  
}

      
p{
  
  font-style: oblique;
  font-size: 20px;
  color: blueviolet;
  
}

h2{
  text-align: center;
  font-size: 35px;
  color: palevioletred;
}

h3{
  text-align: center;
  margin: 5%;
  color: blueviolet;
}

button{
  color: blue;
  background-color: whitesmoke;
  border: thin;
}
  
.button1{
  display: flex;
  justify-content: center;
}























 /* .container{
     display: block;
     margin: 5px;
     box-shadow: cornflowerblue;
     color: darkblue;
      width: 5px; 
      height: 3px; 
 } */

 .container{
  /*list-style-type: square;
  list-style-position: inside ; */
  /* color: brown; */
  /* font-size: 20px; */
  /* padding: auto; */
  /* text-align: right; */
  width: 70%;
  /* Sets top and bottom margin to 20px. Auto will center element */
  margin: 20px auto;
  border-bottom: 5px solid darkblue;
  background-color: #ffffd4;
 }

.section {
  text-align: center;
    font-size: 20px;
    margin-top: 0px;
    color: pink;
    height: fit-content;
    width: fit-content;
  }